[Desktop Entry]
Version=1.0
Name=RFID
Comment=Application to control RFID producing machine
Exec=/home/tester/numato_python_test/rfid_automation.py
Icon=/home/tester/numato_python_test/rfid_automation.py
Path=/home/tester/numato_python_test
Terminal=false
Type=Application
Categories=Utility;Application;