[Desktop Entry]
Version=1.0
Type=Application
Name=RFID
Comment=
Exec=/usr/bin/rfid_automation/rfid_automation.sh
Icon=/usr/bin/rfid_automation/rfid_automation.png
Path=/usr/bin/rfid_automation
Terminal=false
StartupNotify=false
GenericName=RFID automation application
